#workspace-component {
  display: inline-block;
  width: calc(100% - 200px);
  height: calc(100vh - 85px);
  min-height: 700px;
  position: relative;
  top: -18px;
  background-color: lightgray;
}

#workspace-header {
  text-align: center;
}