#navigation-component {
  width: 200px;
  height: calc(100vh - 85px);
  min-height: 700px;
  display: inline-block;
}

#navigation-header {
  text-align: center;
}

.navigation-topic {
  cursor: pointer;
  text-decoration: underline;
}